<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_LayoutHandles>
            <version>0.1.0</version>
        </Philwinkle_LayoutHandles>
    </modules>
    <global>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <philwinkle_layouthandles_addhandles>
                        <class>Philwinkle_LayoutHandles_Model_Observer</class>
                        <method>addHandles</method>
                    </philwinkle_layouthandles_addhandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
</config>